:host {
    display: block;
    width: 100%;

    button {
        width: 100%;
        background: none;
        color: white;
        border: none;
        padding: 10px 0px 10px 20px;
        font-weight: 600;
        font-size: .8rem;
        text-align: left;
        cursor: pointer;
        span {
            display: inline-block;
            vertical-align: middle;
            width: 150px;
            white-space: nowrap;
            margin-left: 15px;
            overflow: hidden;
        }
    }
}