<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/logo-banner-green.png" alt="">
    </div>

    <div class="menu-container flex options">
        <app-btn-menu [description]="'Accueil'"  
                      [active]="selectedMenu === 'Accueil'"
                      (click)="btnClick('Accueil')">
                      
            <i-bs name="house-door-fill" width="24" height="24"></i-bs>        
        </app-btn-menu>

        <app-btn-menu [description]="'Rechercher'" 
                      [active]="selectedMenu === 'Rechercher'"
                      (click)="btnClick('Rechercher')">
            <i-bs name="search" width="24" height="24"></i-bs>
        </app-btn-menu>
        
        <app-btn-menu [description]="'Bibliothèque'" 
                      [active]="selectedMenu === 'Bibliothèque'"
                      (click)="btnClick('Bibliothèque')">
            <ic-icon [icon]=libraryIcon></ic-icon>
        </app-btn-menu>
        <section>
            <app-btn-menu [description]="'Créer une playlist'" 
                        [active]="selectedMenu === 'Créer une playlist'"
                        (click)="btnClick('Créer une playlist')">
                <ic-icon [icon]=addIcon></ic-icon>
            </app-btn-menu>

            <app-btn-menu [description]="'Titres likés'" 
                        [active]="selectedMenu === 'Titres likés'"
                        (click)="btnClick('Titres likés')">
                <ic-icon [icon]=heartIcon></ic-icon>
            </app-btn-menu>
            <hr>
        </section>
    </div>

</div>
<div class="user-info">

</div>