@import '../../../assets/styles/variables.scss';

$h-spotify-logo: 120px;
$h-menu-otions: 150px;
$m-menus-space: 10px;
:host {
    max-width: 300px;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background: $col-back2;

    .menus {
        flex: 1;
        flex-direction: column;
        height: 100%;
        padding: 0px 40px;

        .image-container {
            min-height: $h-spotify-logo;

            img {
                width: 70%;
            }
        }
    }

    .menu-container {
        width: 100%;

        &.options {
            min-height: $h-menu-otions;
            flex-direction: column;
        }

        * {
            margin-bottom: $m-menus-space;
        }
    }

    ic-icon {
        font-size: 24px;
    }
}